@import 'styles/_constants.scss';

.textBox {
  width: 100%;
  .title{
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  .input {
    width: 100%;
    font-size: 1.4em;
    padding: $gutter-size;
    border: $border-standard;
    border-radius: 4px;
    &:focus {
      border: 1px solid $transparent-grey;
    }
  }
}
