@import 'styles/_constants.scss';

.userItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  .userData {
    display: flex;
    align-items: center;
  }
  .addAvatar {
    background-color: $primary;
  }
  .addIcon {
    fill: white;
  }
}
