@import 'styles/_constants.scss';

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $transparent-grey;
  top: 0;
  left: 0;
}

.modal {
  background-color: white;
  border-radius: 3px;
  padding: 20px;
  width: 600px;

  .header {
    display: flex;
    padding: 0;
    justify-content: flex-end;
    &.alignBetween {
      justify-content: space-between;
    }
  }

  .content {
  }

  .closeBtn {
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
  }
}
