@import 'styles/_constants.scss';

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $transparent-grey;
  top: 0;
  left: 0;
}

.modal {
  background-color: white;
  border-radius: 3px;
  padding: 20px;
  max-width: 600px;

  .header {
    display: flex;
    justify-content: flex-end;
    padding-left: 15px;
    padding-right: 15px;
  }

  .content {

  }

  .closeBtn {
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
  }
}
