@import 'styles/_constants.scss';

.button {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 40px;
  color: white;
  background-color: $positive-light;
  font-size: 1em;
  border-radius: 8px;
  border: none;
  &:hover {
    background-color: $positive;
  }
}

.disabledButton {
  cursor: initial;
  background-color: $hover-grey;
  color: $icon-color;
  &:hover {
    background-color: $hover-grey;
  }
}

.link {
  cursor: pointer;
  color: $positive;
  background: transparent;
  border: none;
}
