@import 'styles/constants.scss';
@import 'styles/fonts/visuelt.scss';

.booking-container {
  padding-left: 12px;
}

body {
  font-family: 'Visuelt', sans-serif;
  font-size: 10px;
  font-weight: 400;
}
